body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f7fa;
    background-image: url('../img/main-bg.jpg');
    height: 100%;
}h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color: rgba(0, 0, 0, 0.5);
    margin: 0 0 20px 0;
}