body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f7fa;
}
.main-section {
    display: flex;
    flex-direction: row;
    width: 1200px;
    background-color: #fff;
    margin: 40px auto;
}

.about-me-profession {
    font-size: 14px;
    font-weight: 700;
    color: #000;
}
.about-me-section {

}
.my-projects-section {

}
.my-work-experience-section {

}
.my-education-section {

}
/*sidebar-section*/
img {
    max-width: 370px;
    height: auto;
}
.sidebar-section {
    background-color: #1E2939;
    width: 370px;
    padding: 40px 0;
}
.contacts-section,
.tech-skills-section,
.soft-skills-section
{
    margin: 50px 0 0 40px;
}
.sidebar-title {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: white;
    margin-bottom: 10px;
}
/*contacts-section*/
.contact-type {
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: white;
    margin-right: 10px;
}
.contact-link {
    color: #565e6a;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}
/*skills-section*/
.skills-list {
    padding: 0 0 0 20px;
}
.skills-list-item {
    color: #fb6d3a;
}
.skills-list-text {
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}