body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f7fa;
}
.main-section {
    display: flex;
    flex-direction: row;
    width: 1200px;
    background-color: #fff;
    margin: 40px auto;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
/*sidebar-section*/
img {
    max-width: 370px;
    height: auto;
}
.sidebar-section {
    background-color: #1E2939;
    width: 370px;
    padding: 40px 0;
}
.contacts-section,
.tech-skills-section,
.soft-skills-section
{
    margin: 50px 0 0 40px;
}
.sidebar-title {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: white;
    margin-bottom: 10px;
}
/*contacts-section*/
.contact-type {
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: white;
    margin-right: 10px;
}
.contact-link {
    color: #565e6a;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}
/*skills-section*/
.skills-list {
    padding: 0 0 0 20px;
}
.skills-list-item {
    color: #fb6d3a;
}
.skills-list-text {
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}
/*main-content-section*/
.main-content-section {
    padding: 100px 90px;
}
.main-content-title {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #000;
    margin-bottom: 10px;
}
/*about-me-section*/
.about-me-section {
    margin: 0 0 40px 0;
}
.about-me-profession {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    margin: 0 0 20px 0;
}
.about-me-name {
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color: #000;
    margin: 0 0 20px 0;
}
.about-me-description {
    width: 400px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #565e6a;
}
/*my-projects-section*/
.my-projects-section {
    margin: 0 0 50px 0;
}
.my-projects-list {
    padding: 0 0 0 20px;
}
.my-projects-item {
    color: #000;
    font-weight: bold;
}
.my-projects-link {
    color: #565e6a;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}
.my-projects-text {
    color: #565e6a;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    margin-left: 10px;
}
.my-projects-bracket {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: black;
}
/*MWXP - My work experience section*/
.mwxp-section {
    width: 525px;
    margin: 0 0 45px 0;
}
.mwxp-company-block {
    margin: 0 15px 0 0;
}
.mwxp-company {
    color: #fb6d3a;
}
.mwxp-position {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 10px 0;
}
.mwxp-time {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
}
.mwxp-pipe {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: black;
}
.mwxp-duties {
    padding: 0 0 0 20px;
}
.mwxp-duty-item {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
/*MEDU - My education section*/
.medu-college-name {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
    margin: 0 0 10px 0;
}
.medu-college-faculty {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 0 0 10px 0;
}
.medu-college-time {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin: 0 0 10px 0;
}
.medu-college-time-pipe {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: black;
}
